<div class="app-content-container">
  <div class="container" fxLayout="row wrap" fxFlexOffset="32px" fxLayoutGap="32px" fxLayoutAlign="center center">
    <mat-card fxFlex = "20%">
      <mat-card-title>Карта</mat-card-title>
      <mat-card-content>
        <app-map></app-map>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Погода</mat-card-title>
      <mat-card-content>
        <app-weather-dashboard></app-weather-dashboard>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex = "30%">
      <mat-card-title>Валюты</mat-card-title>
      <mat-card-content>
        <app-currency></app-currency>
      </mat-card-content>
    </mat-card>
  </div>
</div>