<app-bar (toggleSidenav)="sidenav.toggle()"></app-bar>
<mat-sidenav-container class="container" autosize>
  <mat-sidenav #sidenav class="sidenav" mode="side">
    <mat-nav-list>
        <mat-list-item [routerLink]="['dashboard']">
          <mat-icon matListIcon>dashboard</mat-icon>
          Обзор
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let item of myRoutes"          
            [routerLink]="[item.route]">
          <mat-icon matListIcon>{{ item.icon }}</mat-icon>
          {{item.title}}
        </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <mat-icon matListIcon>settings</mat-icon>
        Настройки
      </mat-list-item>
      <mat-list-item (click)="showHelpMenu = !showHelpMenu">
				<span class="full-width">Помощь</span>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showHelpMenu}">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showHelpMenu}">
        <mat-list-item [routerLink]="['about']">О программе</mat-list-item>
				<mat-list-item>Сообщить об ошибке</mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
