<div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card fxFlex = "20%">
    <mat-card-title>Инструменты</mat-card-title>
    <mat-card-content>
      <app-toolchain></app-toolchain>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex = "30%">
    <mat-card-title>Карта</mat-card-title>
    <mat-card-content>
      <app-map></app-map>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Погода</mat-card-title>
    <mat-card-content>
      <app-weather-dashboard></app-weather-dashboard>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex = "30%">
    <mat-card-title>Валюты</mat-card-title>
    <mat-card-content>
      <app-currency></app-currency>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Операции</mat-card-title>
    <mat-card-content>
      <app-operation></app-operation>
    </mat-card-content>
  </mat-card>
</div>
